{% extends 'masterAdmin.html' %}

{% block title %}
Chart brand
{% endblock title %}

{% block contentAdmin %}
{% load staticfiles %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'brand:index' %}">Brand</a>
        </li>
        <li>
            <a href="{% url 'brand:chart' %}">Chart</a>
        </li>
    </ul>
</div>

<div class="box-inner text-center">
    <h1>Chart</h1>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-download-alt"></i> Chart</h2>
                <div class="box-icon">
                    <a href="{% url 'brand:index' %}" class="btn btn-round btn-danger"><i
                            class=" glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <div id="columnchart_material" style="width: 1000px; height: 600px;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Month of year', 'quantity'],
        ['01', 1000],
        ['02', 1170],
        ['03', 660],
        ['04', 1030],
        ['05', 1030],
        ['06', 1030],
        ['07', 1030],
        ['08', 1030],
        ['09', 1030],
        ['10', 1030],
        ['11', 1030],
        ['12', 1030]
      ]);

      var options = {
        chart: {
          title: 'Chart performances brand created follow month of year',
          subtitle: '',
        }
      };

      var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>
{% endblock contentAdmin %}