{% extends 'masterAdmin.html' %}

{% block title %}
Chart brand
{% endblock title %}

{% block contentAdmin %}
{% load staticfiles %}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'brand:index' %}">Brand</a>
        </li>
        <li>
            <a href="{% url 'brand:chart' %}">Chart</a>
        </li>
    </ul>
</div>

<div class="box-inner text-center">
    <h1>Brand chart</h1>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-download-alt"></i> Chart</h2>
                <div class="box-icon">
                    <a href="{% url 'brand:index' %}" class="btn btn-round btn-danger"><i
                            class=" glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div class="box-content" id="box-content">
                {% include 'brands/paintchart.html' with data_chart=data_chart %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var endpoint = "";
        var loc = window.location;
        var wsStart = "ws://";
        if (loc.protocol == "https:") {
            wsStart = "wss://";
        }
        endpoint = wsStart + loc.host + "/ws_brand/chart/";

        var socket = new WebSocket(endpoint);

        socket.onmessage = function (e) {
            console.log("message", e)
            var res = JSON.parse(e.data);
            document.getElementById("box-content").innerHTML = res.chart;
            console.log(res.chart)
        };

        socket.onopen = function (e) {
            console.log("open", e);
        };

        socket.onerror = function (e) {
            console.log("error", e);
        };
        socket.onclose = function (e) {
            console.log("close", e);
        };
    })
</script>

{% endblock contentAdmin %}