{% extends 'masterAdmin.html' %}

{% block title %}
Chart brand
{% endblock title %}

{% block contentAdmin %}
{% load staticfiles %}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'brand:index' %}">Brand</a>
        </li>
        <li>
            <a href="{% url 'brand:chart' %}">Chart</a>
        </li>
    </ul>
</div>

<div class="box-inner text-center">
    <h1>Brand chart</h1>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-download-alt"></i> Chart</h2>
                <div class="box-icon">
                    <a href="{% url 'brand:index' %}" class="btn btn-round btn-danger"><i
                            class=" glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div class="box-content">
                <div id="columnchart_material" style="width: 1000px; height: 600px; margin-left: 100px"></div>
                <div id="chart_div" style="height: 700px;"></div>
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var arr_data = [];
    {% for x in data_chart %}
    arr_data.push(['{{x.month}}', {{ x.quantity }}]);
    {% endfor %}
    document.addEventListener('DOMContentLoaded', function () {
        var endpoint = "";
        var loc = window.location;
        var wsStart = "ws://";
        if (loc.protocol == "https:") {
            wsStart = "wss://";
        }
        endpoint = wsStart + loc.host + "/ws_brand/chart/";

        var socket = new WebSocket(endpoint);

        socket.onopen = function (e) {
            console.log("open", e);
        };

        socket.onerror = function (e) {
            console.log("error", e);
        };
        socket.onclose = function (e) {
            console.log("close", e);
        };
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month of year');
            data.addColumn('number', 'Quantity');

            data.addRows(arr_data);

            var options = {
                title: 'Motivation Level Throughout the Day',
                hAxis: {
                    title: 'Time of Day',
                },
                animation: {
                    duration: 1000,
                    easing: 'out',
                },
                vAxis: {
                    title: 'Rating (scale of 1-10)'
                }
            };

            var chart = new google.visualization.ColumnChart(
                document.getElementById('columnchart_material'));

            function drawChart() {
                chart.draw(data, options);
            }
            drawChart()
            socket.onmessage = function (e) {
                console.log("message", e)
                arr_data = [['Month of year', 'Quantity']];
                var res = JSON.parse(e.data);
                var res_data = res.chart
                for (var i = 0; i < 11; i++) {
                    var newQuantity = 0
                    for (var j = 0; j < res_data.length; j++) {
                        if ((i + 1) == res_data[j].created_month) {
                            newQuantity = res_data[j].quantity;
                        }
                    }
                    data.setValue(i, 1, newQuantity)
                }
                drawChart()
            };
        }
    })

</script>

{% endblock contentAdmin %}