{% extends 'masterAdmin.html' %}

{% block title %}
Update brand
{% endblock title %}

{% block contentAdmin %}
{% load staticfiles %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'brand:index' %}">Brand</a>
        </li>
        <li>
            <a href="{% url 'brand:index' %}">Update</a>
        </li>
    </ul>
</div>

<div class="box-inner text-center">
    <h1>Update Brand</h1>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-download-alt"></i> Add new Brand</h2>
                <div class="box-icon">
                    <a href="{% url 'brand:index' %}" class="btn btn-round btn-danger"><i
                            class=" glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="{% url 'brand:edit' id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.brand_name.label_tag}}
                        {{form.brand_name}}                       
                        {{form.brand_name.errors}}    
                    </div>
                    <button id = "save" type="submit" class="btn btn-primary">Save</button>
                </form>               
            </div>
        </div>
    </div>
</div>
{% endblock contentAdmin %}