{% extends 'masterAdmin.html' %}

{% block title %}
Device
{% endblock title %}


{% block contentAdmin %}
{% load staticfiles %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'device:index' %}">Device</a>
        </li>
    </ul>
</div>
<div class="box-inner text-center">
    <h1>Device Manager</h1>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2>List devices</h2>

                <div class="box-icon">
                    <a href="{% url 'category:add' %}" class="btn btn-round btn-primary"><i
                            class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Serial number</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Status</th>                            
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in data %}
                        <tr>
                            <td>{{device.id}}</td>
                            <td class="center">{{device.brand_id}}</td>
                            <td class="center">{{device.categories_id}}</td>
                            <td class="center">{{device.serial_number}}</td>
                            <td class="center">{{device.name}}</td>
                            <td class="center">{{device.image}}</td>
                            <td class="center">{{device.status}}</td>
                            <td class="center">
                                <a class="btn btn-success" href="#">
                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    View
                                </a>
                                <a class="btn btn-info" href="#">
                                    <i class="glyphicon glyphicon-edit icon-white"></i>
                                    Edit
                                </a>
                                <button class="btn btn-delete btn-danger" id="{{category.id}}">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('.btn-delete').on("click", function () {
        var _this = $(this)
        $.ajax({
            method: "post",
            url: "{% url 'category:delete' %}",
            data: { id: _this.attr('id'), csrfmiddlewaretoken: '{{ csrf_token }}' }
        }).done(function (res) {
            if (res == 1) {
                _this.closest('tr').remove();
                alert('Xóa thành công.');
            } else {
                alert('Xóa không thành công.')
            }
        });
    }); 
</script>
{% endblock contentAdmin %}